body {
  overflow-y: auto;
  background-color: #EEF9F1;
}

.navbar {
  z-index: 10000;
  position: fixed;
  height: 7%;
  font-size: 30px;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff ;
  padding-left: 15%;
  padding-right: 15%;
  overflow: hidden;
  border-bottom: 0.5px solid #CFCFCF;
}

.navbar a {
  color: #1C680F;
  text-align: center;
  padding: 4px 12px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.navbar a:hover {
  color: #24A60E;
}

.footer{
  z-index: 10000;
  position: fixed;
  height: 7%;
  left: 0;
  bottom: 0;
  padding-bottom: 5px;
  width: 100%;
  background-color: #fff;
  color: #1C680F;
  text-align: center;
}

#logo{
  font-size: 25px;
  font-family: serif;
  font-weight: bolder;
  color: #1C680F;
}
#search{
  font-size: 14px;
  -webkit-border-radius: 3px;
  width: 25%;
  background: #F8FCF9;
  background-image: url("/home/greean/AndelaProjects/Questioner/ui/img/search.png");
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 8px 20px 8px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border: 1px solid #1C680F;
}
#signup{
  background-color: #1C680F;
  border: none;
  -webkit-border-radius: 3px;
  color: #fff;
  padding: 8px;
  margin-left: 20%;
}

@media screen and (max-width: 600px) {
  .navbar{
    overflow: absolute;
    background-color: #144B0A;
    height: 100%;
    width: 8%;
  }
  .navbar a {
    left: 0;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 12px 0px;
    text-decoration: none;
    margin-left: -100%;
  }
  #logo{
    margin-top: 10%;
    font-size: 20px;
    color: #fff
  }
  #search{
  font-size: 10px;
  -webkit-border-radius: 3px;
  width: fit-content;
  height: 15px;
  background: #F8FCF9;
  background-position: 8px 8px;
  padding: 12px 0px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border: 1px solid #1C680F;
  margin-left: -100%;
  }
  #signup{
    background-color: #1C680F;
    border: none;
    -webkit-border-radius: 3px;
    color: #fff;
    padding: 8px;
    margin-top: 10px;
    margin-left: -100%;
  }
}