body {
  overflow-y: auto;
  background-color: #fff;
}

.navbar {
  z-index: 10000;
  position: fixed;
  height: 7%;
  font-size: 30px;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff ;
  padding-left: 15%;
  padding-right: 15%;
  overflow: hidden;
  border-bottom: 0.5px solid #CFCFCF;
}
.admin-navbar{
  padding-left: 5%;
  padding-right: 5%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #1C680F;
  padding-bottom: .5%;
  padding-top: 0.5%;
}
.nav-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-li{
  float: right;
}
.nav-li a{
  text-decoration: none;
  color: #CED3CD;
}
.logo{
  float: left;
  font-size: 25px;
  font-family: serif;
  font-weight: bolder;
}
.li-item{
  text-decoration: #fff;
  font-size: 12px;
  margin-right: 5px;
  text-transform: uppercase;
}
.footer{
  z-index: 10000;
  position: fixed;
  height: 7%;
  left: 0;
  bottom: 0;
  padding-bottom: 5px;
  width: 100%;
  background-color: #fff;
  color: #1C680F;
  text-align: center;
}
.content{
  margin-left: 5%;
  margin-top: 5%;
  width: 60%;
  padding: 1px;
}
.users{
  background-color: #5A9B4F;
  width: 90%;
  vertical-align: middle;
  padding: 1px;
  padding-left: 2%;
}
.users a{
  text-decoration: none;
  color: #E4EFE2;
}
.users a:hover{
  text-decoration: underline;
}
.meet_questions{
  background-color: #5A9B4F;
  width: 90%;
  vertical-align: middle;
  padding: 1px;
  padding-left: 2%;
  margin-top: 1%;
}
.meet_questions a{
  text-decoration: none;
  color: #E4EFE2;
}
.meet_questions a:hover{
  text-decoration: underline;
}
#search{
  font-size: 14px;
  -webkit-border-radius: 3px;
  width: 25%;
  background: #F8FCF9;
  background-image: url("../img/search.png");
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 8px 20px 8px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border: 1px solid #1C680F;
}
#signup{
  background-color: #1C680F;
  border: none;
  -webkit-border-radius: 3px;
  color: #fff;
  padding: 8px;
  margin-left: 20%;
}

.rsvp{
  background-color: #1C680F;
  border: none;
  -webkit-border-radius: 3px;
  color: #fff;
  padding: 8px;
}

@media screen and (max-width: 600px) {
  .navbar{
    overflow: absolute;
    background-color: #144B0A;
    height: 100%;
    width: 8%;
  }
  .navbar a {
    left: 0;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 12px 0px;
    text-decoration: none;
    margin-left: -100%;
  }
  #logo{
    margin-top: 10%;
    font-size: 20px;
    color: #fff
  }
  #search{
  font-size: 10px;
  -webkit-border-radius: 3px;
  width: fit-content;
  height: 15px;
  background: #F8FCF9;
  background-position: 8px 8px;
  padding: 12px 0px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border: 1px solid #1C680F;
  margin-left: -100%;
  }
  #signup{
    background-color: #1C680F;
    border: none;
    -webkit-border-radius: 3px;
    color: #fff;
    padding: 8px;
    margin-top: 10px;
    margin-left: -100%;
  }
}